<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/painel-administrativo.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/patterns.css"/>
    <title>Boas Vindas - Distribuidora Bonsucesso</title>
</head>
<body>
    <div class="barra-superior yellow-pt">
        <div class="container container-barra-superior">
            <div class="title">
                <p>DISTRIBUIDORA BONSUCESSO</p>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <!-- Barra superior -->
        <div class="cabecalho cabecalho-pt" id="cabecalho">
            <div class="vacuo vacuo-pt"></div>
            <div class="menu menu-pt">
                <a href="" class="active-menu">Boas vindas</a>
                <a href="/painel-administrativo/manual-do-usuario">Manual do Usuário</a>
            </div>
        </div>
        <!-- Barra lateral -->
        <div class="barra-lateral barra-lateral-pt" id="barra-lateral">
            <a href="/painel-administrativo" class="active-lt-bar">Início</a>
            <a href="/painel-administrativo/vendas">Vendas</a>
            <a href="/painel-administrativo/clientes">Clientes</a>
            <a href="/painel-administrativo/produtos">Produtos</a>
            <a href="/painel-administrativo/vendedores">Vendedores</a>
            <a href="/painel-administrativo/cobrancas">Cobranças</a>
        </div>
        <!-- Conteúdo da página -->
        <div class="corpo corpo-pt" id="corpo">
            <div class="boas-vindas">
                <h1>Olá current_user.name, seja bem vindo!</h1>
                <p>
                    Você está na plataforma administrativa da Distribuidora Bonsucesso, um ambiente
                    desenvolvido para agilizar as tarefas mais importantes da empresa, automatizando
                    processos e eliminando tarefas repetitivas, gerando eficiência para
                    todos os setores do negócio.
                </p>
                <br>
                <p>
                    Tenha em mente que todas as funções contidas aqui interferem diretamente no bom
                    funcionamento da empresa. Sabendo disso, <strong>use com responsabilidade.</strong>
                    <br>
                    Caso tenha dúvidas quanto ao funcionamento, consulte o 
                    <a href="/painel-administrativo/manual-do-usuario">manual do usuário</a>.
                </p>
            </div>
        </div>
        <!-- Rodapé -->
        <div class="rodape rodape-pt yellow-pt" id="rodape">
            <p> &copy 2022 DISTRIBUIDORA BONSUCESSO - Todos os direitos reservados.
                Desenvolvido por Porto Solutions - RJ </p>
        </div>
    </div>
</body>
</html>