<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/vendedores/cadastrar-vendedores.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/patterns.css"/>
    <title>Cadastrar vendedores - Distribuidora Bonsucesso</title>
</head>
<body>
    <div class="barra-superior yellow-pt">
        <div class="container container-barra-superior">
            <div class="title">
                <p>DISTRIBUIDORA BONSUCESSO</p>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <!-- Barra superior -->
        <div class="cabecalho cabecalho-pt" id="cabecalho">
            <div class="vacuo vacuo-pt"></div>
            <div class="menu menu-pt">
                <a href="/painel-administrativo/vendedores/lista-de-vendedores">Lista de Vendedores</a>
                <a href="/painel-administrativo/vendedores/cadastrar" class="active-menu">Cadastrar</a>
                <a href="/painel-administrativo/vendedores/comissoes">Comissões</a>
            </div>
        </div>
        <!-- Barra lateral -->
        <div class="barra-lateral barra-lateral-pt" id="barra-lateral">
            <a href="/painel-administrativo">Início</a>
            <a href="/painel-administrativo/vendas">Vendas</a>
            <a href="/painel-administrativo/clientes">Clientes</a>
            <a href="/painel-administrativo/produtos">Produtos</a>
            <a href="/painel-administrativo/vendedores" class="active-lt-bar">Vendedores</a>
            <a href="/painel-administrativo/cobrancas">Cobranças</a>
        </div>
        <!-- Conteúdo da página -->
        <div class="corpo corpo-pt" id="corpo">
            {% set messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages  %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            <form id="cadastrar-form" action="/painel-administrativo/vendedores/cadastrar" method="post">
                <div class="formulario" id="formulario-cpf">
                    <div class="item-group">
                        <div class="item sexo">
                            <p>Sexo:</p>
                            <div class="radio-group">
                                <div class="radio-item">
                                    <input type="radio" name="sexo" id="sexo1" value="masculino" required>
                                    <label for="masculino">Masculino</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="sexo" id="sexo2" value="feminino" required>
                                    <label for="masculino">Feminino</label>
                                </div>
                            </div>
                        </div>
                        <div class="item cpf">
                            <p>CPF:</p>
                            <input minlength="14" maxlength="14" type="text" name="cpf" id="cpf" required>
                        </div>
                        <div class="item nome">
                            <p>Nome:</p>
                            <input minlength="8" maxlength="50" type="text" name="nome" id="nome" required>
                        </div>
                    </div>
                    <div class="item-group">
                        <div class="item nascimento">
                            <p>Nascimento:</p>
                            <input minlength="10" maxlength="10" type="text" name="nascimento" id="nascimento" required>
                        </div>
                        <div class="item telefone">
                            <p>Telefone:</p>
                            <input  minlength="14" maxlength="15" type="text" name="telefone" id="telefone" required>
                        </div>
                        <div class="item email">
                            <p>Email</p>
                            <input minlength="10" maxlength="50" type="email" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="item-group">
                        <div class="item cep">
                            <p>CEP:</p>
                            <input minlength="10" maxlength="10" type="text" name="cep" id="cep" required>
                        </div>
                        <div class="item logradouro">
                            <p>Logradouro (Rua, Avenida, etc):</p>
                            <input minlength="2" maxlength="50" type="text" name="logradouro" id="logradouro" required>
                        </div>
                        <div class="item numero">
                            <p>Número:</p>
                            <input minlength="1" maxlength="5" type="text" name="numero" id="numero" required>
                        </div>
                        <div class="item bairro">
                            <p>Bairro:</p>
                            <input minlength="1" maxlength="50" type="text" name="bairro" id="bairro" required>
                        </div>
                    </div>
                    <div class="item-group">
                        <div class="item complemento">
                            <p>Complemento</p>
                            <input maxlength="50" type="text" name="complemento" id="complemento">
                        </div>
                        <div class="item cidade">
                            <p>Cidade:</p>
                            <input minlength="2" maxlength="50" type="text" name="cidade" id="cidade" required>
                        </div>
                        <div class="item uf">
                            <p>UF:</p>
                            <input minlength="2" maxlength="2" type="text" name="uf" id="uf" required>
                        </div>
                    </div>
                    <div class="formulario-button" id="formulario-button">
                        <a class="form-button" href="/painel-administrativo/vendedores/lista-de-vendedores">
                            <button type="button" class="dismiss-btn">Cancelar</button>
                        </a>
                        <button id="form-submit-btn" class="confirm-btn form-button" type="button">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Rodapé -->
        <div class="rodape rodape-pt yellow-pt" id="rodape">
            <p> &copy 2022 DISTRIBUIDORA BONSUCESSO - Todos os direitos reservados.
                Desenvolvido por Porto Solutions - RJ </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/static/js/vendedores/cadastrar-vendedores.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#cpf').mask('000.000.000-00')
            $('#cep').mask('00.000-000')
            $('#telefone').mask('(00) 00000-0000')
            $('#nascimento').mask('00/00/0000')
            $('#numero').mask('99999')
            $('#uf').mask('AA', {'translation': {
                A: {pattern: /[A-Za-z]/}
            }});
        });
    </script>
</body>
</html>